body {
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
}

.poke-img {
    width: 180px;
}

.btn {
    display: inline-block;
    background: #ffcc00;
    padding: 10px 20px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background: #ffe680;
}

.form {
    margin: auto;
    width: 300px;
    background: rgba(255,255,255,0.25);
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

/* Table center fix */
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

th, td {
    padding: 12px 25px;
    text-align: center;
}
